<!DOCTYPE html>
<html>
<head>
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>
</head>
<body>

<h2>Nguyễn Đức Nhật</h2>
<p>ducnhat756@gmail.com</p>
<div class="center">
  <p>Hello World!</p>
</div>

</body>
</html>


<!DOCTYPE html>
<html>
<head>
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>
</head>
<body>

<h2>Nguyễn Đức Nhật</h2>
<p>ducnhat756@gmail.com</p>
<div class="center">
  <p>Hello World!</p>
</div>

</body>
</html>


